/* styles.css */

/* Réinitialisation des marges et des paddings */
body,
h1,
h2,
p,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GrotleyRegular', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.body-bg-image {
    background-image: url("images/background2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Ajout de marges globales */
.container {
    margin: 20px auto;
    /* Centrer horizontalement */
    max-width: 1800px;

    /* background-color:("images/wood_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: #F9E0BB;
    padding: 20px;
    /* Ajoute de l'espace intérieur autour des éléments du container */
    border-radius: 10px;
}


/* Style de l'en-tête */
h1 {
    font-size: 75px;
    text-align: center;
    padding: 30px;
    background-color: #884A39;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

h1 img {
    height: 150px;
    /* Adjust the height as needed */
    width: auto;
    /* Maintain the aspect ratio */
    margin-left: 10px;
    /* Add margin between the title and the logo */
}



/* Style de l'image principale */
.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    /* Espacement autour de l'image */
}

.image-section img {
    max-width: 50%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s;
    /* Ajout de l'image de fond */
    background-image: url("images/wood_background2.jpg");
    background-size: cover;
    background-position: center;
    /* Ajout de coins arrondis */
    border-radius: 10px;

}

/* Effet de zoom sur l'image principale au survol de la souris */
.image-section img:hover {
    transform: scale(1.1);
}

/* Style des images */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Style des sections */
h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #038d1a;
}

p {
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
}

/* Style des liens */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style des images de la grille */
.grid {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item img {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 1s;
    margin: 0 auto;
    /* Ajout de l'image de fond */
    background-image: url("images/wood_background2.jpg");
    background-size: cover;
    background-position: center;
    /* Ajout de coins arrondis */
    border-radius: 10px;

}


/* Effet de zoom sur l'image au survol de la souris */
.grid-item img:hover {
    transform: scale(1.8);
}

#map {
    height: 400px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Styles pour la section "Les choses à faire autour" */
.video-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Styles pour chaque sous-section de vidéo */
.video-wrapper {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

/* Mise en page pour les écrans plus petits */
@media screen and (max-width: 768px) {
    .video-wrapper {
        flex-basis: calc(50% - 20px);
    }
}





@font-face {
    font-family: 'GrotleyRegular';
    src: url('grotley-font/GrotleyRegular-mLEWv.otf') format('truetype');
}